/*
#whiskermenu-window {
	color: #fafafa;
	background-color: #434343;
}

#whiskermenu-window button {
	color: #fff;
	font-weight: bold;
	border: none;
	padding: 6px 12px;
	margin: 0px 3px 0px 0px;
	background-image: none;
}
#whiskermenu-window button:hover {
	background-color: #808080;
}
#whiskermenu-window button:focus {
	box-shadow: inset 0px 0px 0px 1px #ccc;
}
#whiskermenu-window button:checked {
	color: #fafafa;
	background-color: #1a7664;
}

#whiskermenu-window treeview {
	background-color: #fafafa;
	color: #3b3b3b;
}
*/


